{% extends "base.html" %}

{% block content %}
  <div class="col-md-5">
    <div>
      <h1 class="d-inline-block">Tags</h1>
      <a class="btn btn-success float-right" href="{% url "manager:tag-create" %}">Add</a>
      <hr>
    </div>
    {% if tag_list %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Update</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
            {% for tag in tag_list %}
              <tbody>
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ tag.name }}</td>
                  <td>
                    <a class="btn btn-primary" href="{% url "manager:tag-update" pk=tag.pk %}">Update</a>
                  </td>
                  <td>
                    <a class="btn btn-danger" href="{% url "manager:tag-delete" pk=tag.pk %}">Delete</a>
                  </td>
                </tr>
              </tbody>
          {% endfor %}
        </table>
    {% else %}
      <p>There are no tags yet</p>
    {% endif %}
  </div>
{% endblock %}}